[Desktop Entry]
Type=Application
Name=Swapcaps
Comment=Swap Caps Lock key with Escape key
Path=/usr/bin/
Exec=setxkbmap -option caps:escape
Terminal=false
