[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[work]
row=8
col=0

[games]
row=5
col=0

[3f10d170-ab91-413f-93b6-e0e834c66eb8]
row=4
col=0

[8b5a2886-b14a-4bf0-8383-cfa7bac5dd79]
row=6
col=0

[media]
row=7
col=0

[/]
row=2
col=0

[/home/phil]
row=3
col=0

